@media all and (max-width: 767px) {
    
}
@media all and (min-width: 768px) and (max-width: 992px) {

}

/*Desktop Small*/
@media all and (min-width: 993px) and (max-width: 1200px) {

}


/*
Media query chung
*/
@media all and (max-width: 1200px){
    .posts-title, .main-top, .main-bottom{
        padding: 0 10px;
    }
    .main-top .main-top--left {
        margin-left: 0px;
    }
    .main-title{
        padding: 90px 0px 20px 0px;
    }
}