@media all and (max-width: 767px) {
    .contact__box .img{
        padding: 60px;
    }
    .contact-box--form--button-wrap p a{
        margin-bottom: 20px;
    }
}
@media all and (min-width: 768px) and (max-width: 992px) {
    .contact-box--form--button-wrap p a{
        margin-bottom: 20px;
    }
}

/*Desktop Small*/
@media all and (min-width: 993px) and (max-width: 1200px) {

}


/*
Media query chung
*/
@media all and (max-width: 1200px){
    main,footer{
        padding: 0 10px;
    }
   .server-box .server-box__list .list--item{
       margin-bottom: 50px;
   }
   .post-list {
    padding: 50px 0px;
}
.post-list .post-list__content .post-list__content--block img{
    padding: 0;
}
.product-bottom .product--info .product__item{
    margin-bottom: 30px;
}

}